.card {
	width: 100%;
	height: vh(185);

	display: flex;
	align-items: center;

	background-color: #f5f5f5;

	padding: vh(20);

	border-radius: vh(5);
}

.card-image {
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(#E5E6E1, #EDEDED);
	border-radius: vh(5);

	width: vh(150);
	height: vh(150);

	margin-right: vh(20);
}

.image {
	width: 100%;
	min-width: vh(150);
	height: 100%;
	object-fit: contain;
	border-radius: 6px;
}

.info {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 6px;
}

.info-header {

	width: 100%;
	display: flex;
	justify-content: space-between;

	&>.title {
		width: 100%;
		font-size: vh(24);
		font-family: "florag";
	}

	&>.right {
		width: 100%;
		display: flex;
		justify-content: space-between
	}

	@include mobile {
		height: 100%;
		flex-direction: column;
	}
}

.item-price {
	font-weight: 200;
	font-size: vh(20);
	color: black;

	&-mobile {
		display: none;

		@include mobile {
			display: flex;
			font-size: vh(20);
			font-weight: 500;
		}
	}

	@include mobile {
		display: none;
	}
}


.title {
	font-size: 14px;
	line-height: 1.2;
}

.controls {

	width: vh(128);
	height: vh(32);

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #000;
	border-radius: vh(5);
	color: white;

	button {
		min-width: vh(32);

		color: white;
		cursor: pointer;
	}

	&>span {
		font-size: vh(16);
		font-weight: 500;
	}
}

.right {
	display: flex;
	align-items: flex-start;
}

.remove {
	display: flex;
	justify-content: center;
	align-items: center;

	width: vh(32);
	height: vh(32);

	background-color: #000;

	border-radius: vh(5);
}


.trash-icon {
	width: vh(14);
	height: vh(16);
}

.right-mobile {
	display: none;

	@include mobile {
		display: flex;
	}
}