.HomeButton {
    width: 290px;
    height: 59px;

    border: 1px solid #E3E3E3;
    border-radius: 100px;
    border-bottom-right-radius: 0px;

    display: flex;
    align-items: center;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: 0 0 0 30px;
}

.arrow {
    margin-left: auto;
    margin-right:10px;
    margin-top: auto;
    margin-bottom: 10px;
    width: 11px;
    height: 11px;

}