.HomeButton {
    width: vh(290);
    height: vh(59);

    border: vh(1) solid #E3E3E3;
    border-radius: vh(100);
    border-bottom-right-radius: 0px;

    display: flex;
    align-items: center;

    cursor: pointer;
    position: relative;
}

.text {
    font-family: 'Manrope', sans-serif;
    font-size: vh(18);
    font-weight: 500;
    color: black;
    margin: 0 0 0 vh(30);
}

.arrow {
    width: vh(11);
    height: vh(11);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: vh(3);
    bottom: vh(3);
}