.flower-more {
    display: flex;
    width: 100%;

    &__title {
        width: vh(465);
        font-family: 'druzhok';
        text-transform: uppercase;
        font-size: vh(30);
        font-weight: 400;
        white-space: pre-line;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
            font-size: vh(28);
        }
    }

    &__info {
        width: 100%;
        font-size: vh(16);
        font-weight: 200;

        @include mobile {
            font-size: vh(18);
        }

        @include tablet {
            font-size: vh(16);
        }
    }

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}