.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flower-image {
    margin-bottom: vh(40);
}

.flower-title {
    font-family: 'druzhok', sans-serif;

    display: flex;
    gap: vh(20);
}

.go-back {
    width: vh(60);
    height: vh(60); 

    border-radius: vh(50);
    border: 1px solid #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: column;
}   

.titles > h1 {
    font-size: vh(150);
    text-transform: uppercase;
}

.titles > h3 {
    font-size: vh(53);
    text-transform: uppercase;
    position: relative;
    top: vh(-40);
}

.flower-description {
    display: flex;
    justify-content: space-between;

    padding-inline: vh(40);
}


.flower-button {
    width: vh(655);
    height: vh(86);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: vh(10);

    border-block: 1px solid #D7D7D7 ;

    font-size: vh(20);

    cursor: pointer;
}

.flower {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}

.flower-state {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: vh(20);
}   


.info {
    width: vh(125);
    height: vh(35);

    border-radius: vh(50);
    font-size: vh(12);
    font-weight: bold;

    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popular {
    background-color: #000000;
}

.available {
    background-color: #81AA0B;
}

.flower-img {
    position: absolute;
}