.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.flower-image {
    width: 100%;
    margin-bottom: vh(40);

    &>video {
        width: 100%;
        height: vh(391);
        object-fit: cover;
    }
}

.flower-title {
    font-family: 'druzhok', sans-serif;

    display: flex;
    gap: vh(20);
}

.go-back {
    width: vh(60);
    height: vh(60); 

    cursor: pointer;

    border-radius: vh(50);
    border: 1px solid #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: column;
}   

.titles > h1 {
    font-size: vh(190);
    text-transform: uppercase;
}

.titles > h3 {
    font-size: vh(70);
    text-transform: uppercase;
    position: relative;
    top: vh(-40);
}

.flower-description {
    width: 100%;
    min-height: vh(1220);
    display: flex;
    justify-content: space-between;

    padding-inline: vh(40);
}

.flower {
    width: 100%;
    height: vh(500);

    display: flex;
    flex-direction: column;
    
    position: relative;
}

.flower-state {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: vh(5);
}   


.info {
    width: vh(125);
    height: vh(35);

    border-radius: vh(50);
    font-size: vh(12);
    font-weight: bold;

    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popular {
    background-color: #000000;
}

.available {
    background-color: #81AA0B;
}

.flower-img {
    position: absolute;
    right: vh(-50);

    min-width: vh(1285);
    height: vh(1149);
    object-fit: contain;

    pointer-events: none;
    user-select: none;
}

.action-buttons {
    display: flex;
    gap: vh(25);
    margin-top: vh(72);
    margin-bottom: vh(235);
}


// line

.line {
    padding-inline: vh(40);
    width: calc(100% - vh(40));
    height: vh(1);
    background-color: #D7D7D7;
    
    margin-bottom: vh(83);
}

.flower-more-information {
    display: flex;
    flex-direction: column;
    gap: vh(80);
    padding-inline: vh(40);

    margin-bottom: vh(80);

}