.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // overflow-x: hidden;

}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.flower-image {
    width: 100%;
    margin-bottom: vh(40);

    &>video {
        width: 100%;
        height: vh(391);
        object-fit: cover;
    }

    @include mobile {
        display: none;
        height: vh(200);

        margin-bottom: vh(20);

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.flower-title {
    font-family: 'druzhok', sans-serif;

    display: flex;
    gap: vh(20);

    @include mobile {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.flower-text {


    transition: .3s all;
    @include mobile {
        display: flex;
        flex-direction: column;

		width: vwm(320);
        // min-height: vh(500);
        transition: .3s all;
    }
}

.go-back {
    width: vh(60);
    height: vh(60); 

    cursor: pointer;

    border-radius: vh(50);
    border: 1px solid #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        display: none;
    }
}

.titles {
    display: flex;
    flex-direction: column;
}   

.titles > h1 {
    font-size: vh(190);
    text-transform: uppercase;

    @include mobile {
        font-size: vh(80);
    }
}

.titles > h3 {
    font-size: vh(70);
    text-transform: uppercase;
    position: relative;
    top: vh(-40);

    @include mobile {
        font-size: vh(50);
        top: vh(-20);
    }
}

.flower-disc {
    
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


    }
}

.flower-description {
    width: 100%;
    min-height: vh(1220);
    display: flex;
    justify-content: space-between;

    padding-inline: vh(40);

    @include mobile {
        flex-direction: column;
        align-items: center;

    }
}

.flower {
    width: 100%;
    height: vh(500);

    display: flex;
    flex-direction: column;
    
    position: relative;

    @include mobile {
        display: none;
    }
}

.flower-state {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: vh(5);

    @include mobile {
        display: none;
    }


}   

.flower-state-mobile {
    display: none;

    @include mobile {
        display: flex;
        justify-content: end;
        align-items: start;
        gap: vh(5);
        
        margin-bottom: vh(20);

        &>.info {
            width: vwm(120);
            height: vwm(40);

            font-size: vwm(12);
        }
    }

}


.info {
    width: vh(125);
    height: vh(35);

    border-radius: vh(50);
    font-size: vh(12);
    font-weight: bold;

    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popular {
    background-color: #000000;
}

.available {
    background-color: #81AA0B;
}

.flower-img {
    position: absolute;
    right: vh(-50);

    min-width: vh(1285);
    height: vh(1149);
    object-fit: contain;

    pointer-events: none;
    user-select: none;

    @include mobile {
        display: none;
        min-width: 100%;
        height: vh(450);
    }
}

.flower-img-mobile {
    display: none;

    @include mobile {
        display: flex;
        justify-content: center;

        width: vh(400);
    }
}

.action-buttons {
    display: flex;
    gap: vh(25);
    margin-top: vh(72);
    margin-bottom: vh(235);

    @include mobile {
        width: 100%;
        margin-top: vh(30);
        flex-direction: column;
        margin-bottom: vh(80);
    }
}


// line

.line {
    padding-inline: vh(40);
    width: calc(100% - vh(40));
    height: vh(1);
    background-color: #D7D7D7;
    
    margin-bottom: vh(83);
}

.flower-more-information {
    display: flex;
    flex-direction: column;
    gap: vh(80);

    width: 100%;
    padding-inline: vh(40);

    margin-bottom: vh(80);

}
