.home-page {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    @include tablet {
        overflow: scroll;
    }

    @include mobile {
        overflow: scroll;
        height: 100vh;
    }

}

.home {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  

    @include mobile {
        flex-direction: column;
    }

}

.container {
    width: 90%;
    height: vh(1004);
    overflow: hidden;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: vh(290);

    &>p {
        line-height: vh(28);
        font-size: vh(16);

        margin-bottom: vh(85);

        @include mobile {
            margin-bottom: vh(20);
        }
    }

    @include mobile {
        display: none;
    }
}

.right {

    &>.title {
        margin-bottom: 0;
        font-size: vh(40);
    }

    .text-first {
        line-height: vh(28);
        margin-bottom: vh(42);
        font-size: vh(16);
    }

    .text-second {
        line-height: vh(28);
        font-size: vh(16);
    }
}

.title {
    font-family: 'Manrope';
    font-size: vh(40);


    margin-bottom: vh(5);
}

.mid {
    width: vh(1100);
    height: vh(960);
    display: flex;

    @include mobile {
        position: relative;
        width: 100%;
        height: vh(450);
    }

}

.image-container {
    width: vh(1100);
    height: vh(902);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    @include mobile {
        position: relative;
        width: 100%;
        height: vh(450);
    }
}

.circle {
    width: vh(814);
    height: vh(814);
    border-radius: 50%;
    background-color: #ffffff;

    position: absolute;
    top: 0;

    @include mobile {
        width: vh(450);
        height: vh(450);
    }
}

.image {
    width: vh(950);

    display: flex;
    position: absolute;

    bottom: vh(-150);
    z-index: 2;

    object-fit: cover;

    pointer-events: none;

    @include mobile {
        width: vh(600);
        bottom: vh(-60);
    }
}

.title-mid-header {
    position: absolute;
    top: vh(-30);
    font-family: 'druzhok';
    font-size: vh(232);
    text-transform: uppercase;

    @include mobile {
        font-size: vh(92);
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: vh(10);
}

.leftButton {
    position: absolute;
    bottom: vh(58);
    left: vh(66);
    z-index: 9900;

    @include mobile {
        bottom: vh(-40);
        left: vh(20);

        scale: 0.8;
    }
}

.rightButton {
    position: absolute;
    bottom: vh(58);
    right: vh(66);
    z-index: 9900;

    @include mobile {
        bottom: vh(-40);
        right: vh(20);

        scale: 0.8;
    }
}
