.home-page {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;

}

// for responsive (phones)
@media only screen and (max-width: 600px) {
    .home-page {
        width: 100vw;
    }
}

.home {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  

}

.container {
    width: 90%;
    height: vh(1004);
    overflow: hidden;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: vh(290);

    &>p {
        line-height: vh(28);
        font-size: vh(16);

        margin-bottom: vh(85);
    }
}

.right {



    &>.title {
        margin-bottom: 0;
        font-size: vh(40);
    }

    .text-first {
        line-height: vh(28);
        margin-bottom: vh(42);
        font-size: vh(16);
    }

    .text-second {
        line-height: vh(28);
        font-size: vh(16);
    }
}

.title {
    font-family: 'Manrope';
    font-size: vh(40);


    margin-bottom: vh(5);
}

.mid {
    width: vh(1100);
    height: vh(960);
    display: flex;

}

.image-container {
    width: vh(1100);
    top: vh(55);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: vh(814);
    height: vh(814);
    border-radius: 50%;
    background-color: #ffffff;

    position: absolute;
    top: 0;
}

.image {
    width: vh(950);

    display: flex;
    position: absolute;
    z-index: 2;

    pointer-events: none;
}

.title-mid {
    position: absolute;
    color: black;
    top: vh(-30);
    z-index: 1;

    &>p {
        font-family: 'druzhok';
        font-size: 168px;
        text-transform: uppercase;
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: vh(10);
}