body {
    overflow: hidden;
}


.home{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  

}

.container {
    width: 90%;
    height: 1004px;
    overflow: hidden;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    max-width: 290px;
}

.title {
  font-size: 40px;
}

.mid {
    width: 1100;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 1100px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 814px;
    height: 814px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 200px;
}

.image {
    width: 950px;

    display: flex;
    position: absolute;
}

.title-mid {
    position: absolute;
    font-size: 100px;
    font-weight: 500;
    color: black;
    margin-bottom: 90%; 
}