@import './fonts.scss';
@import './reset.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
	display: none;
  }
}

body {
	font-family: 'Manrope', 'Segoe UI', 'Roboto';
	font-weight: 400;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f5f5;
	color: #333;
}

#root {
	min-height: 100vh;
}

