.page {
	animation: fadeIn 0.3s ease-in;

	h1 {
		margin-bottom: 1rem;
		color: #222;
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.6;
		color: #555;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
