.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include tablet {
        padding-inline: vh(20);
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: vh(40);
    width: 100%;
    height: vh(250);

    @include mobile {
        gap: 0;
        height: vh(150);
        border-bottom: vh(1) solid #D7D7D7;
        margin-bottom: vh(40);
    }

    @include tablet {
        gap: vh(10);
        height: vh(200);
        border-bottom: vh(1) solid #D7D7D7;
        margin-bottom: vh(30);
    }
}

.link {
    font-family: 'Manrope', sans-serif;
    font-size: vh(14);
    font-weight: 300;
    text-decoration: none;
    color: black;

    @include tablet {
        font-size: vh(16);
    }
}

.links {
    display: flex;
    position: relative;
}   

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    @include mobile {
        margin-top: vh(10);
    }

    @include tablet {
        margin-top: vh(15);
    }
}

.logo {
    font-family: 'florag';
    font-size: vh(120);
    font-weight: normal;
    flex-direction: row;
    color: black;

    @include mobile {
        font-size: vh(40);
    }

    @include tablet {
        font-size: vh(80);
    }
}

.buttons-desktop {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    right: vh(20);
    gap: vh(10);

    @include mobile {
        top: 0;
        left: 0;
        .button {
            display: none;
        }
    }

    @include tablet {
        gap: vh(8);
        right: 0;
    }
}

.button {
    width: vh(50);
    height: vh(50);    
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
    border-radius: vh(50);
    cursor: pointer;

    @include tablet {
        width: vh(45);
        height: vh(45);
    }
}

.line {
    width: vh(1839);
    height: vh(1);
    background-color: #D7D7D7;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
    }
}

.links-desktop {
    display: flex;
    gap: vh(140);

    @include mobile {
        display: none;
    }

    @include tablet {
        gap: vh(60);
    }
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;

    @include mobile {
        right: vwm(10);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #f5f5f5;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: vwm(40) vwm(20);
    gap: vwm(20);
    transition: right .3s ease-out;

    @include mobile { 
        right: -100%;
        &>header {
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid black;
        }
    }

    @include tablet {
        width: 50%;
        padding: vwm(30) vwm(15);
    }
}

.open {
    right: 0;
}

.close {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: vwm(24);
    cursor: pointer;

    @include tablet {
        font-size: vwm(22);
    }
}

.mobile-menu .link {
    font-size: 20px;
    font-weight: 400;

    @include tablet {
        font-size: vh(18);
    }
}