
.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    width: 100%;
    height: 125px;

}

.link {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;

    // &:hover {
    //     transition: all .5s ease-in-out;
    //     color: black;
    // }
}

.logo {
    font-family: 'florag';
    font-size: 40px;
    font-weight: normal;

    color: black;
}

.line {
    width: 95%;
    height: 1px;
    background-color: #D7D7D7;
}
