
.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vh(80);

    width: 100%;
    height: 125px;

}

@media only screen and (max-width: 600px) {
    .navbar {
        gap: 0;
    }
}

.link {
    font-family: 'Manrope', sans-serif;
    font-size: vh(18);
    font-weight: 300;
    text-decoration: none;
    color: black;

    // &:hover {
    //     transition: all .5s ease-in-out;
    //     color: black;
    // }

    &:nth-child(2) {
        margin-right: vh(40);
    }

    &:nth-child(3) {
        font-family: 'Manrope';
    }

    &:nth-child(4) {
        margin-left: vh(40);
    }
}

.logo {
    font-family: 'florag';
    font-size: vh(40);
    font-weight: normal;

    color: black;
}

.line {
    width: vh(1839);
    height: vh(1);
    background-color: #D7D7D7;
    margin-bottom: vh(55);
}
