.footer {
	width: vh(1913);
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: vh(89);
	margin-bottom: vh(3.5);


	height: vh(1726);
	background-color: #000000;
	border-radius: vh(50);


	&>nav {
		display: flex;
		gap: vh(78);
		margin-bottom: vh(74);

		
		&> a {
			font-size: vh(31);
			color: #6A6A6A;
			cursor: pointer;

			&.active {
				color: white;
			}
		}


	}

	@include mobile {
		width: 100%;

		height: vh(1200);

		padding-bottom: vh(10);
	}
}

.phone-number {
	font-size: vh(128);
	color: white;
	font-family: 'druzhok';

	@include mobile {
		font-size: vwm(40);
	}
}

.address {
	font-size: vh(32);
	color: white;
	margin-bottom: vh(44);

	@include mobile {
		font-size: vh(24);

		padding-inline: vh(40);
	}
}

.socials {
	display: flex;
	gap: vh(10);

	margin-bottom: vh(88);

	&>.icon {
		cursor: pointer;
		width: vh(89);
		height: vh(89);
	}

	@include mobile {
		margin-bottom: vh(50);
	}
}

.map {
	width: 100%;
	height: vh(532);
	margin-bottom: vh(53);

	object-fit: cover;
	@include mobile {
		margin-bottom: vh(50);
	}
}

.logo-text {
	font-size: vh(264);
	color: white;
	font-family: 'florag';

	@include mobile {
		font-size: vwm(52);
	}
}

.underfooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: vh(200);

	overflow: hidden;

	@include mobile {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}

.politics {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	padding-inline: vh(38);


	&>span {
		color: #6A6A6A;
		font-size: vh(20);
		cursor: not-allowed;

	}

	@include mobile {
		position: relative;
		flex-direction: column;
		align-items: center;

		height: vh(100);

		gap: vh(10);
	}
}

.payments {
	width: 100%;
	gap: vh(20);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	&>.payments-image {
		position: absolute;
		// left: vh(512);
		user-select: none;
		pointer-events: none;
	}

	&>.flower-image {
		position: absolute;

		width: vh(526);
		height: vh(416);
		right: vh(377);

		user-select: none;
		pointer-events: none;
	}

	@include mobile {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;

		height: vh(100);

		&>.payments-image {
			left: 0;
			transform: translateX(50%);
			bottom: 0;
			user-select: none;
			pointer-events: none;
		}

		&>.flower-image {
			display: none;
		}
	}

}

